<main>
  <div class="container">
    <div class="text-container">
      <h2>OTHELLO</h2>
      <h2>OTHELLO</h2>
    </div>
  </div>

  <div class="game-content-wrapper">
    
    <div class="left-placeholder">
      <app-final-score *ngIf="gamePhase === GamePhase.End"
        [scores]="finalScore"
        (resetGame)="resetGame()"> 
      </app-final-score>
    </div>
    
    <div class="game-placeholder">
      <div class="vertical-spacer"></div>
      <app-setup *ngIf="gamePhase === GamePhase.Start" (setupCompleted)="handleSetup($event)">
      </app-setup>

      <app-board *ngIf="gamePhase === GamePhase.Play || gamePhase === GamePhase.End"
        (messageEvent)="handleBoardMessage($event)"
        (gameEndEvent)="handleGameEnd($event)">
      </app-board>
      <div class="vertical-spacer"></div>
    </div>
    
    <div class="right-placeholder">
      <app-dino [currentMessage]="message"></app-dino>
    </div>
  </div>
</main>