<main>
  <div class="container">
    <div class="text-container">
      <h2>OTHELLO</h2>
      <h2>OTHELLO</h2>
    </div>
  </div>
  <div class="message-box">
    <strong>Κατάσταση:</strong> {{ message }}
  </div>
  <hr>

  <div class="game-content-wrapper">       
    <div class="score-placeholder">
      <div *ngIf="finalScores" class="final-score-box">
        <h3>ΤΕΛΙΚΟ ΣΚΟΡ</h3>
        <p>⚫ Μαύρο : {{ finalScores.B }}</p>        
        <p>⚪ Λευκό : {{ finalScores.W }}</p>
        <button (click)="resetGame()" class="reset-button">
          Νέο Παιχνίδι
        </button>
      </div>
    </div>
        
    <app-board *ngIf="gameStarted" (messageEvent)="handleBoardMessage($event)"
    (gameEndEvent)="handleGameEnd($event)"
    [isGameOver]="!!finalScores">
    </app-board> 
    <div class="score-placeholder"></div>     
  </div>

  <app-setup *ngIf="!gameStarted" (setupCompleted)="handleSetup($event)">
  </app-setup>
  
</main>