.board-container {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  gap: 4px;
  justify-content: center;
  margin-top: 25px;
}

.square {
  width: 60px;
  height: 60px;
  background: linear-gradient(135deg, #084310,#189e1a, #a2ff00);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s;
  cursor: pointer;
}

.square:hover {
  transform: scale(1.08);
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.piece.white {
  background: white;
}

.piece.black {
  background: black;
}
